In [1]:
! pip install google-cloud-bigquery pandas

Requirement already satisfied: google-cloud-bigquery in /Users/leogrosjean/git/richemont-case/.venv/lib/python3.10/site-packages (3.18.0)
Requirement already satisfied: pandas in /Users/leogrosjean/git/richemont-case/.venv/lib/python3.10/site-packages (2.1.3)
Requirement already satisfied: google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5 in /Users/leogrosjean/git/richemont-case/.venv/lib/python3.10/site-packages (from google-cloud-bigquery) (2.17.1)
Requirement already satisfied: google-cloud-core<3.0.0dev,>=1.6.0 in /Users/leogrosjean/git/richemont-case/.venv/lib/python3.10/site-packages (from google-cloud-bigquery) (2.4.1)
Requirement already satisfied: google-resumable-media<3.0dev,>=0.6.0 in /Users/leogrosjean/git/richemont-case/.venv/lib/python3.10/site-packages (from google-cloud-bigquery) (2.7.0)
Requirement already satisfied: packaging>=20.0.0 in /Users/leogrosjean/git/richemont-case/.venv/lib/python3.10/site-packages (from google-cloud-bigquery) (23.2)
Requirement already satisfied: python-dateutil<3.0dev,>=2.7.2 in /Users/leogrosjean/git/richemont-case/.venv/lib/python3.10/site-packages (from google-cloud-bigquery) (2.9.0.post0)
Requirement already satisfied: requests<3.0.0dev,>=2.21.0 in /Users/leogrosjean/git/richemont-case/.venv/lib/python3.10/site-packages (from google-cloud-bigquery) (2.31.0)
Requirement already satisfied: numpy<2,>=1.22.4 in /Users/leogrosjean/git/richemont-case/.venv/lib/python3.10/site-packages (from pandas) (1.26.4)
Requirement already satisfied: pytz>=2020.1 in /Users/leogrosjean/git/richemont-case/.venv/lib/python3.10/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.1 in /Users/leogrosjean/git/richemont-case/.venv/lib/python3.10/site-packages (from pandas) (2024.1)
Requirement already satisfied: googleapis-common-protos<2.0.dev0,>=1.56.2 in /Users/leogrosjean/git/richemont-case/.venv/lib/python3.10/site-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-bigquery) (1.62.0)
Requirement already satisfied: protobuf!=3.20.0,!=3.20.1,!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0.dev0,>=3.19.5 in /Users/leogrosjean/git/richemont-case/.venv/lib/python3.10/site-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-bigquery) (4.25.3)
Requirement already satisfied: google-auth<3.0.dev0,>=2.14.1 in /Users/leogrosjean/git/richemont-case/.venv/lib/python3.10/site-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-bigquery) (2.28.2)
Requirement already satisfied: google-crc32c<2.0dev,>=1.0 in /Users/leogrosjean/git/richemont-case/.venv/lib/python3.10/site-packages (from google-resumable-media<3.0dev,>=0.6.0->google-cloud-bigquery) (1.5.0)
Requirement already satisfied: six>=1.5 in /Users/leogrosjean/git/richemont-case/.venv/lib/python3.10/site-packages (from python-dateutil<3.0dev,>=2.7.2->google-cloud-bigquery) (1.16.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/leogrosjean/git/richemont-case/.venv/lib/python3.10/site-packages (from requests<3.0.0dev,>=2.21.0->google-cloud-bigquery) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /Users/leogrosjean/git/richemont-case/.venv/lib/python3.10/site-packages (from requests<3.0.0dev,>=2.21.0->google-cloud-bigquery) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/leogrosjean/git/richemont-case/.venv/lib/python3.10/site-packages (from requests<3.0.0dev,>=2.21.0->google-cloud-bigquery) (2.2.1)
Requirement already satisfied: certifi>=2017.4.17 in /Users/leogrosjean/git/richemont-case/.venv/lib/python3.10/site-packages (from requests<3.0.0dev,>=2.21.0->google-cloud-bigquery) (2024.2.2)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /Users/leogrosjean/git/richemont-case/.venv/lib/python3.10/site-packages (from google-auth<3.0.dev0,>=2.14.1->google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-bigquery) (5.3.3)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /Users/leogrosjean/git/richemont-case/.venv/lib/python3.10/site-packages (from google-auth<3.0.dev0,>=2.14.1->google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-bigquery) (0.3.0)
Requirement already satisfied: rsa<5,>=3.1.4 in /Users/leogrosjean/git/richemont-case/.venv/lib/python3.10/site-packages (from google-auth<3.0.dev0,>=2.14.1->google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-bigquery) (4.9)
Requirement already satisfied: pyasn1<0.6.0,>=0.4.6 in /Users/leogrosjean/git/richemont-case/.venv/lib/python3.10/site-packages (from pyasn1-modules>=0.2.1->google-auth<3.0.dev0,>=2.14.1->google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-bigquery) (0.5.1)

In [2]:
%load_ext google.cloud.bigquery
%config InlineBackend.figure_format = "retina"

Idées:
- Calculer le temps moyen avant un ré-achat > tracer la courbe de probabilité moyen jour après jour de réachat
- Créer un petit algo simple qui prédit en fonction de la date de jour, date de premier achat, valeur du premier achat, type de premier achat, genre, country la probabilité d'acheter la semaine d'après > permet de sortir le top score par pays
- Faire un algo de reco (basée sur la matrice précédente/succession) du produit à mettre en avant pour augmenter proba de réacheter

In [3]:
%%bigquery
CREATE TABLE IF NOT EXISTS richemont.orders AS (
    SELECT
        client_id,
        DATE(transaction_date) AS transaction_at,
        SUM(price_full) AS total_price,
        COUNT(product_collection) AS quantity,
    FROM richemont.orders_raw
    GROUP BY 1, 2
)

Query is running:   0%|          |

Empty DataFrame
Columns: []
Index: []

In [4]:
%%bigquery
SELECT DISTINCT country_of_purchase FROM richemont.orders_raw

Query is running:   0%|          |

Downloading:   0%|          |

     country_of_purchase
0                  China
1                 France
2                    USA
3            Switzerland
4                  Japan
5       Macau SAR, China
6   Hong Kong SAR, China
7            South Korea
8         United Kingdom
9           Russian Fed,
10              Thailand
11                 Italy
12        Utd,Arab Emir,
13         Taiwan, China
14                Brazil
15              Malaysia
16             Singapore
17               Germany
18                 Spain
19                Mexico
20                Turkey
21                Canada

In [7]:
%%bigquery
CREATE TABLE IF NOT EXISTS richemont.orders_region AS (
    SELECT
        CASE country_of_purchase
        WHEN "China" THEN "Asia Pacific"
        WHEN "France" THEN "Europe"
        WHEN "USA" THEN "Americas"
        WHEN "Switzerland" THEN "Europe"
        WHEN "Japan" THEN "Asia Pacific"
        WHEN "Macau SAR, China" THEN "Asia Pacific"
        WHEN "Hong Kong SAR, China" THEN "Asia Pacific"
        WHEN "South Korea" THEN "Asia Pacific"
        WHEN "United Kingdom" THEN "Europe"
        WHEN "Russian Fed," THEN "Europe"
        WHEN "Thailand" THEN "Asia Pacific"
        WHEN "Italy" THEN "Europe"
        WHEN "Utd,Arab Emir," THEN "Middle East & Africa"
        WHEN "Taiwan, China" THEN "Asia Pacific"
        WHEN "Brazil" THEN "Americas"
        WHEN "Malaysia" THEN "Asia Pacific"
        WHEN "Singapore" THEN "Asia Pacific"
        WHEN "Germany" THEN "Europe"
        WHEN "Spain" THEN "Europe"
        WHEN "Mexico" THEN "Americas"
        WHEN "Turkey" THEN "Middle East & Africa"
        WHEN "Canada" THEN "Americas"
        ELSE "Other"
        END AS region_of_purchase,
        country_of_purchase,
        CAST(SUM(price_full) AS INT) AS total_price,
    FROM richemont.orders_raw
    GROUP BY 1, 2
 )

Query is running:   0%|          |

Empty DataFrame
Columns: []
Index: []

In [7]:
%%bigquery
CREATE OR REPLACE TABLE `richemont.rfm` AS (
WITH
max_date AS (
  SELECT MAX(transaction_at) AS max_date_
  FROM richemont.orders
)

SELECT

  client_id,
  COUNT(DISTINCT DATE(transaction_at)) - 1 as frequency,
  DATE_DIFF(MAX(transaction_at), MIN(transaction_at), DAY) as recency,
  AVG(total_price) as monetary_value,
  DATE_DIFF(max_date.max_date_, MIN(transaction_at), DAY) as T

FROM richemont.orders, max_date

GROUP BY client_id, max_date_
)

Query is running:   0%|          |

Empty DataFrame
Columns: []
Index: []

In [8]:
pd.read_gbq("SELECT * FROM richemont.rfm").to_csv("../data/rfm.csv")